---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

/* ==================================================
   Academic-style News Scroll Box
   ================================================== */

.news-box {
  max-height: 14em;
  overflow-y: scroll;
  padding: 0.5em 1em 0.5em 0.5em;
  border-left: 3px solid #d0d0d0;
  margin-bottom: 1.5em;
}

/* Scrollbar styling */
.news-box::-webkit-scrollbar {
  width: 8px;
}

.news-box::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 4px;
}


.news-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.news-item {
  position: relative;
  margin-bottom: 0.75em;
  padding-left: 4.5em;
  font-size: 0.95em;
  line-height: 1.45;
}

.news-date {
  position: absolute;
  left: 0;
  top: 0.15em;   
  width: 4em;
  color: #777;
  font-family: monospace;
  font-size: 0.85em;
}

.news-item.highlight {
  background: #f8f9fa;
  border-radius: 4px;
  padding: 0.4em 0.4em 0.4em 4.5em;
}


.news-box a {
  text-decoration: none;
}

.news-box a:hover {
  text-decoration: underline;
}

